.menu-container{
    position: absolute;
    background-color: white;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    
    .conteiner-mobile{
        position: relative;
        padding-top: 48px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 48px;
      
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90%;

    }
    .menu-close{
        position: absolute;
        right: 20px;
        top: 12px;
           
    }
}
.menu-close,
.menu-open{
    border: none;
    background-color: transparent;
    outline: none;

    &:hover,
    &:focus{
        fill: $color-button-logo;
    }
    @media screen and (min-width: 767px){
        display: none;
    }
}

.mobale-social__list{    
    display: flex;  
    justify-content: start;
    padding-top: 64px;
    margin-left: auto;
       
    
    .mobale-social__link{
        font-size: 3.2vw;                            
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        color: $color-button-logo;
       
        
    }
}
.mobail-menu__link--activ{
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: $color-button-logo;
}
.mobale-contakt__list{
    padding-left: 10px;

    .mobale-contakt__phone{
        font-size: 8vw;
        color: $color-button-logo;
    }
    .mobale-contakt__mail{
        font-size: 5vw;
    }
}

.mobail-menu__item:not(:last-child) {
    margin-bottom: 32px;
}
.mobail-menu__link{
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    &--activ{
        color: $color-button-logo; 
    }
       
}
.mobale-contakt__item:not(:last-child){
    margin-bottom: 32px;
}

.menu-container.is-hidden {
    opacity: 0;
  pointer-events: none;
}
.mobale-social__item--link{
    margin-left: 10px;
}
.menu-container .mobale-social__item:nth-child(-n + 3)::after{
  content: " ";
  display: inline-flex;
 align-items: center;
    width: 1px;
    height: 22px;
    padding-top: 8px;   
    background-color: #757575;
}