 /* Выбор проектов */  
 .portfolio__btn{
    font-family: Roboto;
    font-style: $font-style-normal;
    font-weight: 500;
    font-size: $font-size-btn;
    line-height: 1.625;
    text-align: center;
    letter-spacing: $letter-spacing-text;
    background-color: $team-filter-btn-bg;
    color: $main-color-headers; 
    padding: 6px 22px;
    cursor: pointer;  
    margin-right: 8px; 
    
    border: none;
    border-radius: 4px;  
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover, 
     &:focus{
      background-color: $color-button-logo;
      color: $white-color;
      box-shadow: 0px 3px 1px $portfolio-btn-shadow1, 0px 1px 2px $portfolio-btn-shadow2, 0px 2px 2px $portfolio-btn-shadow3;   
      } 
}
.portfolio__item{
    margin-bottom: 15px;
}
.portfolio .conteiner{
    margin-bottom: -15px;
}

/* Проекты */ 
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
   
   
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;        
    }   
}
.portfolio__filter {
     display: flex;
     justify-content: start;
     flex-wrap: wrap;
    //  justify-content: center; 
     margin-bottom: 30px; 
     @media screen and (min-width: 768px) {
       justify-content: center;
    }
     @media screen and (min-width: 1200px){
         justify-content: center;
         margin-bottom: 50px;
     }                   
}
.project {
     padding: 0;
     margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    @media screen and (min-width: 1200px){
        margin-left: -30px; 
    }

    
   
} 
.projekt__choice{
    margin-top: 30px;
    // margin-top: 30px;
    @media screen and (min-width: 768px) {
          flex-basis: calc((100% - 60px) / 2);
         margin-left: 30px;
         margin-top: 30px;        
    }
    @media screen and (min-width: 1200px) {
          flex-basis: calc((100% - 90px) / 3);
           margin-left: 30px;
           margin-top: 30px;        
    } 
}
.content{
    text-decoration: none;  
    padding: 20px 24px;
    background-color: $white-color;
   border: 1px solid $card-content-border;  
}
.card{
    display: flex;
   align-items: center;
   justify-content: center;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;

    &__activ:hover,
    &__activ:focus{
       box-shadow: 0px 1px 1px $card-activ-shadow1, 0px 4px 4px $card-activ-shadow2, 1px 4px 6px $card-activ-shadow3;     
    }
}

.content__item{
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 2.000;
    letter-spacing: 0.06em;
    color: $main-color-headers;
    text-decoration: none;
    @media screen and (min-width: 1200px) {
        font-size: 18px;
    }
}
.content__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.875;      
    letter-spacing: $letter-spacing-text;
    color: $main-text-color;
    margin-top: 4px;
    text-decoration: none;
    @media screen and (min-width: 1200px) {
        font-size: 16px;}
} 
.card__thumb{
    position: relative;
    overflow: hidden;      
}
.card__box{ 
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;      
   
  
    background: $card-box-bgr;
    overflow: auto;    
    transform: translateY(100%);  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
    .card:hover &{
        transform: translateY(0);
     }
}

.card__text{      
    font-size: 18px;
    line-height: 1.555; 
    letter-spacing: $letter-spacing-text;
    margin: 63px 24px;
    color: $white-color;     
}  